In [1]:
import pandas as pd
import numpy as np
import datetime
import re

In [2]:
df = pd.read_csv("침착맨단독_chatlog.txt",sep=' ',names=['timeline','userId','comment'] ,encoding ="utf-8")
df

         timeline       userId        comment
0      [00:00:06]        <앙앵잉>            오오오
1      [00:00:08]  <yonumsiki>             ??
2      [00:00:09]        <앙앵잉>         왔다!!!!
3      [00:00:13]  <NosPawn13>             침하
4      [00:00:15]       <말년후배>         머냐구!!!
...           ...          ...            ...
11518  [00:42:01]        <침착맨>             후원
11519  [00:42:02]       <꼬마돌꾼>              다
11520  [00:42:02]     <ths117>  오늘은이런노래가있엇습니다
11521  [00:42:02]      <레알_크크>              아
11522  [00:42:03]    <공강때뭐하지이>             쭈가

[11523 rows x 3 columns]

In [3]:
timeline = df['timeline']
timeline

0        [00:00:06]
1        [00:00:08]
2        [00:00:09]
3        [00:00:13]
4        [00:00:15]
            ...
11518    [00:42:01]
11519    [00:42:02]
11520    [00:42:02]
11521    [00:42:02]
11522    [00:42:03]
Name: timeline, Length: 11523, dtype: object

In [4]:
df_temp = df.copy()

In [5]:
df_temp["timeline"] = df_temp["timeline"].apply(lambda x: x.replace('[',''))
df_temp["timeline"] = df_temp["timeline"].apply(lambda x: x.replace(']',''))
df_temp

       timeline       userId        comment
0      00:00:06        <앙앵잉>            오오오
1      00:00:08  <yonumsiki>             ??
2      00:00:09        <앙앵잉>         왔다!!!!
3      00:00:13  <NosPawn13>             침하
4      00:00:15       <말년후배>         머냐구!!!
...         ...          ...            ...
11518  00:42:01        <침착맨>             후원
11519  00:42:02       <꼬마돌꾼>              다
11520  00:42:02     <ths117>  오늘은이런노래가있엇습니다
11521  00:42:02      <레알_크크>              아
11522  00:42:03    <공강때뭐하지이>             쭈가

[11523 rows x 3 columns]

In [6]:
df_temp["timeline"] = df_temp["timeline"].apply(lambda x: datetime.datetime.strptime(x, '%H:%M:%S'))

In [7]:
df_temp

                 timeline       userId        comment
0     1900-01-01 00:00:06        <앙앵잉>            오오오
1     1900-01-01 00:00:08  <yonumsiki>             ??
2     1900-01-01 00:00:09        <앙앵잉>         왔다!!!!
3     1900-01-01 00:00:13  <NosPawn13>             침하
4     1900-01-01 00:00:15       <말년후배>         머냐구!!!
...                   ...          ...            ...
11518 1900-01-01 00:42:01        <침착맨>             후원
11519 1900-01-01 00:42:02       <꼬마돌꾼>              다
11520 1900-01-01 00:42:02     <ths117>  오늘은이런노래가있엇습니다
11521 1900-01-01 00:42:02      <레알_크크>              아
11522 1900-01-01 00:42:03    <공강때뭐하지이>             쭈가

[11523 rows x 3 columns]

In [8]:
startWindow = datetime.datetime.strptime("00:01:00",'%H:%M:%S')
classNum = 1
startWindow

datetime.datetime(1900, 1, 1, 0, 1)

In [9]:
class_list = []
for i in range(df_temp.shape[0]):
    if (startWindow -  df_temp['timeline'][i]).total_seconds() > 0 :
        class_list.append(classNum)
    else:
        startWindow = startWindow + datetime.timedelta(minutes=1)
        classNum+=1
        class_list.append(classNum)

In [10]:
df_temp['class'] = class_list
df_temp

                 timeline       userId        comment  class
0     1900-01-01 00:00:06        <앙앵잉>            오오오      1
1     1900-01-01 00:00:08  <yonumsiki>             ??      1
2     1900-01-01 00:00:09        <앙앵잉>         왔다!!!!      1
3     1900-01-01 00:00:13  <NosPawn13>             침하      1
4     1900-01-01 00:00:15       <말년후배>         머냐구!!!      1
...                   ...          ...            ...    ...
11518 1900-01-01 00:42:01        <침착맨>             후원     43
11519 1900-01-01 00:42:02       <꼬마돌꾼>              다     43
11520 1900-01-01 00:42:02     <ths117>  오늘은이런노래가있엇습니다     43
11521 1900-01-01 00:42:02      <레알_크크>              아     43
11522 1900-01-01 00:42:03    <공강때뭐하지이>             쭈가     43

[11523 rows x 4 columns]

In [11]:
len(df_temp[df_temp['class'] == 1]['userId'])  #총 댓글 수
len(df_temp[df_temp['class'] == 1]['userId'].unique()) # 참여 유저 수

19

In [12]:
df_temp["com_len"] = df_temp["comment"].apply(lambda x: len(x))
df_temp

                 timeline       userId        comment  class  com_len
0     1900-01-01 00:00:06        <앙앵잉>            오오오      1        3
1     1900-01-01 00:00:08  <yonumsiki>             ??      1        2
2     1900-01-01 00:00:09        <앙앵잉>         왔다!!!!      1        6
3     1900-01-01 00:00:13  <NosPawn13>             침하      1        2
4     1900-01-01 00:00:15       <말년후배>         머냐구!!!      1        6
...                   ...          ...            ...    ...      ...
11518 1900-01-01 00:42:01        <침착맨>             후원     43        2
11519 1900-01-01 00:42:02       <꼬마돌꾼>              다     43        1
11520 1900-01-01 00:42:02     <ths117>  오늘은이런노래가있엇습니다     43       13
11521 1900-01-01 00:42:02      <레알_크크>              아     43        1
11522 1900-01-01 00:42:03    <공강때뭐하지이>             쭈가     43        2

[11523 rows x 5 columns]

In [13]:
df_temp["com_initial"] = df_temp["comment"].apply(lambda x: "".join(re.compile('[ㄱ-ㅎ|ㅏ-ㅣ]+').findall(x)))
df_temp

,timeline,userId,comment,class,com_len,com_initial
0,1900-01-01 00:00:06,<앙앵잉>,오오오,1,3,
1,1900-01-01 00:00:08,<yonumsiki>,??,1,2,
2,1900-01-01 00:00:09,<앙앵잉>,왔다!!!!,1,6,
3,1900-01-01 00:00:13,<NosPawn13>,침하,1,2,
4,1900-01-01 00:00:15,<말년후배>,머냐구!!!,1,6,
...,...,...,...,...,...,...
11518,1900-01-01 00:42:01,<침착맨>,후원,43,2,
11519,1900-01-01 00:42:02,<꼬마돌꾼>,다,43,1,
11520,1900-01-01 00:42:02,<ths117>,오늘은이런노래가있엇습니다,43,13,
11521,1900-01-01 00:42:02,<레알_크크>,아,43,1,
11522,1900-01-01 00:42:03,<공강때뭐하지이>,쭈가,43,2,

In [14]:
df_temp["initial_len"] = df_temp["com_initial"].apply(lambda x: len(x))
df_temp

,timeline,userId,comment,class,com_len,com_initial,initial_len
0,1900-01-01 00:00:06,<앙앵잉>,오오오,1,3,,0
1,1900-01-01 00:00:08,<yonumsiki>,??,1,2,,0
2,1900-01-01 00:00:09,<앙앵잉>,왔다!!!!,1,6,,0
3,1900-01-01 00:00:13,<NosPawn13>,침하,1,2,,0
4,1900-01-01 00:00:15,<말년후배>,머냐구!!!,1,6,,0
...,...,...,...,...,...,...,...
11518,1900-01-01 00:42:01,<침착맨>,후원,43,2,,0
11519,1900-01-01 00:42:02,<꼬마돌꾼>,다,43,1,,0
11520,1900-01-01 00:42:02,<ths117>,오늘은이런노래가있엇습니다,43,13,,0
11521,1900-01-01 00:42:02,<레알_크크>,아,43,1,,0
11522,1900-01-01 00:42:03,<공강때뭐하지이>,쭈가,43,2,,0

In [15]:
df_temp["com_special"] = df_temp["comment"].apply(lambda x: x.count('~')+x.count('!')+x.count('@')+x.count('#')+x.count('$')+x.count('%')+x.count('^')+x.count('&')+x.count('*')+x.count('(')+x.count(')')+x.count('<')+x.count('>')+x.count(',')+x.count('.')+x.count('?')+x.count('/'))
df_temp

,timeline,userId,comment,class,com_len,com_initial,initial_len,com_special
0,1900-01-01 00:00:06,<앙앵잉>,오오오,1,3,,0,0
1,1900-01-01 00:00:08,<yonumsiki>,??,1,2,,0,2
2,1900-01-01 00:00:09,<앙앵잉>,왔다!!!!,1,6,,0,4
3,1900-01-01 00:00:13,<NosPawn13>,침하,1,2,,0,0
4,1900-01-01 00:00:15,<말년후배>,머냐구!!!,1,6,,0,3
...,...,...,...,...,...,...,...,...
11518,1900-01-01 00:42:01,<침착맨>,후원,43,2,,0,0
11519,1900-01-01 00:42:02,<꼬마돌꾼>,다,43,1,,0,0
11520,1900-01-01 00:42:02,<ths117>,오늘은이런노래가있엇습니다,43,13,,0,0
11521,1900-01-01 00:42:02,<레알_크크>,아,43,1,,0,0
11522,1900-01-01 00:42:03,<공강때뭐하지이>,쭈가,43,2,,0,0

In [16]:
df_temp['com_has_init']= df_temp['com_initial'].apply(lambda x:1 if x != '' else 0)
df_temp.head(50)

,timeline,userId,comment,class,com_len,com_initial,initial_len,com_special,com_has_init
0,1900-01-01 00:00:06,<앙앵잉>,오오오,1,3,,0,0,0
1,1900-01-01 00:00:08,<yonumsiki>,??,1,2,,0,2,0
2,1900-01-01 00:00:09,<앙앵잉>,왔다!!!!,1,6,,0,4,0
3,1900-01-01 00:00:13,<NosPawn13>,침하,1,2,,0,0,0
4,1900-01-01 00:00:15,<말년후배>,머냐구!!!,1,6,,0,3,0
5,1900-01-01 00:00:15,<NosPawn13>,오셨구먼유,1,5,,0,0,0
6,1900-01-01 00:00:16,<앙앵잉>,침하,1,2,,0,0,0
7,1900-01-01 00:00:20,<굥원잉>,뭐야!!!!,1,6,,0,4,0
8,1900-01-01 00:00:21,<Nightbot>,@침착맨,1,4,,0,1,0
9,1900-01-01 00:00:21,<헤물맨>,치마,1,2,,0,0,0
10,1900-01-01 00:00:21,<먹황새끼>,침하,1,2,,0,0,0
11,1900-01-01 00:00:23,<darkestshery>,???????????,1,11,,0,11,0
12,1900-01-01 00:00:24,<앙앵잉>,믿고있었다구~,1,7,,0,1,0
13,1900-01-01 00:00:26,<먹황새끼>,앱,1,1,,0,0,0
14,1900-01-01 00:00:29,<NosPawn13>,스킬셋,1,3,,0,0,0
15,1900-01-01 00:00:30,<굥원잉>,ㄹㅇㅋㅋ,1,4,ㄹㅇㅋㅋ,4,0,1
16,1900-01-01 00:00:31,<Asqwertyuu>,무,1,1,,0,0,0
17,1900-01-01 00:00:32,<twcuser>,???,1,3,,0,3,0
18,1900-01-01 00:00:37,<darkestshery>,이게,1,2,,0,0,0
19,1900-01-01 00:00:37,<paosn>,이시간에,1,4,,0,0,0
20,1900-01-01 00:00:37,<Daewhile>,날클립,1,3,,0,0,0
21,1900-01-01 00:00:39,<rnjsdyd135>,모죠,1,2,,0,0,0
22,1900-01-01 00:00:39,<웃카>,??,1,2,,0,2,0
23,1900-01-01 00:00:39,<hoonbgz>,와,1,1,,0,0,0
24,1900-01-01 00:00:49,<chang41529>,침하,1,2,,0,0,0
25,1900-01-01 00:00:55,<NosPawn13>,버거퀸은,1,4,,0,0,0
26,1900-01-01 00:00:55,<팔콘펀치>,???,1,3,,0,3,0
27,1900-01-01 00:00:55,<단단한어린이>,치마,1,2,,0,0,0
28,1900-01-01 00:00:59,<팔콘펀치>,침하,1,2,,0,0,0
29,1900-01-01 00:01:00,<yum08_>,침하,2,2,,0,0,0
30,1900-01-01 00:01:01,<caesar_m_d>,병건아...,2,6,,0,3,0
31,1900-01-01 00:01:02,<게임스데모스>,치마,2,2,,0,0,0
32,1900-01-01 00:01:03,<pungryongi>,버거퀸은,2,4,,0,0,0
33,1900-01-01 00:01:03,<donghoberry>,?,2,1,,0,1,0
34,1900-01-01 00:01:07,<caesar_m_d>,나,2,1,,0,0,0
35,1900-01-01 00:01:08,<donghoberry>,수요일인가요?,2,7,,0,1,0
36,1900-01-01 00:01:09,<어린이집반장>,침하,2,2,,0,0,0
37,1900-01-01 00:01:11,<정자씨>,이제먹는거임?,2,7,,0,1,0
38,1900-01-01 00:01:13,<오늘의_야식>,와!,2,2,,0,1,0
39,1900-01-01 00:01:13,<실라솔>,또,2,1,,0,0,0
40,1900-01-01 00:01:15,<ddochi051>,무야무야,2,4,,0,0,0
41,1900-01-01 00:01:18,<cartman0024>,침하,2,2,,0,0,0
42,1900-01-01 00:01:21,<오히려초록>,?,2,1,,0,1,0
43,1900-01-01 00:01:22,<굥원잉>,아~,2,2,,0,1,0
44,1900-01-01 00:01:23,<루밍주디>,침하,2,2,,0,0,0
45,1900-01-01 00:01:24,<포스트오피서>,침하,2,2,,0,0,0
46,1900-01-01 00:01:26,<gutter94>,뭔데뭔데,2,4,,0,0,0
47,1900-01-01 00:01:27,<caesar_m_d>,기쁘다,2,3,,0,0,0
48,1900-01-01 00:01:27,<NosPawn13>,봉구수,2,3,,0,0,0
49,1900-01-01 00:01:27,<파카_9999>,머선129,2,5,,0,0,0

In [17]:
df_temp["com_k"] = df_temp["comment"].apply(lambda x: x.count('ㅋ'))
df_temp.tail(50)

,timeline,userId,comment,class,com_len,com_initial,initial_len,com_special,com_has_init,com_k
11473,1900-01-01 00:41:52,<mlt_luv>,감동의,42,3,,0,0,0,0
11474,1900-01-01 00:41:52,<키스샷_>,사무치게,42,4,,0,0,0,0
11475,1900-01-01 00:41:53,<두부야놀자>,아,42,1,,0,0,0,0
11476,1900-01-01 00:41:53,<요소로>,ㅎㅇ,42,2,ㅎㅇ,2,0,1,0
11477,1900-01-01 00:41:53,<김진사>,쮸하,42,2,,0,0,0,0
11478,1900-01-01 00:41:53,<hti84>,ccaOo,42,5,,0,0,0,0
11479,1900-01-01 00:41:53,<우이끼끼>,펄하,42,2,,0,0,0,0
11480,1900-01-01 00:41:53,<ksmp8q6>,엥,42,1,,0,0,0,0
11481,1900-01-01 00:41:53,<과치비나>,사무치게,42,4,,0,0,0,0
11482,1900-01-01 00:41:54,<gescapew>,ㅍㅎ,42,2,ㅍㅎ,2,0,1,0
11483,1900-01-01 00:41:54,<뱃살치기>,아,42,1,,0,0,0,0
11484,1900-01-01 00:41:54,<다털린배뚠뚠>,쭈하,42,2,,0,0,0,0
11485,1900-01-01 00:41:54,<ㅡ두유ㅡ>,주펄형~,42,4,,0,1,0,0
11486,1900-01-01 00:41:54,<코카콜라지>,침하,42,2,,0,0,0,0
11487,1900-01-01 00:41:55,<콕콕콕콕콕콕>,qkrmfqkrmf,42,10,,0,0,0,0
11488,1900-01-01 00:41:55,<알지도모다면서>,퍼라,42,2,,0,0,0,0
11489,1900-01-01 00:41:55,<thtpwl493>,펄하,42,2,,0,0,0,0
11490,1900-01-01 00:41:55,<김옥고>,쭈하,42,2,,0,0,0,0
11491,1900-01-01 00:41:56,<스톡홀름신도림>,666,42,3,,0,0,0,0
11492,1900-01-01 00:41:56,<kw2466>,펄하펄하,42,4,,0,0,0,0
11493,1900-01-01 00:41:56,<주와말>,난민,42,2,,0,0,0,0
11494,1900-01-01 00:41:56,<침착맨>,쌤과치히로의행방불륜님이,42,12,,0,0,0,0
11495,1900-01-01 00:41:56,<sujimin00>,테스형,42,3,,0,0,0,0
11496,1900-01-01 00:41:56,<duskerdusker>,퍼라,42,2,,0,0,0,0
11497,1900-01-01 00:41:56,<caesar_m_d>,침착맨,42,3,,0,0,0,0
11498,1900-01-01 00:41:57,<콕콕콕콕콕콕>,바글바글~,42,5,,0,1,0,0
11499,1900-01-01 00:41:57,<코카콜라지>,쭈하,42,2,,0,0,0,0
11500,1900-01-01 00:41:57,<히마와리_>,펄하ㅏ,42,3,ㅏ,1,0,1,0
11501,1900-01-01 00:41:58,<공강때뭐하지이>,쭈펄,42,2,,0,0,0,0
11502,1900-01-01 00:41:58,<웅뿡이>,침형,42,2,,0,0,0,0
11503,1900-01-01 00:41:58,<hacodate>,쉬지않는,42,4,,0,0,0,0
11504,1900-01-01 00:41:58,<신디유>,쭈하하하하,42,5,,0,0,0,0
11505,1900-01-01 00:41:59,<꼬마돌꾼>,퍼라퍼라,42,4,,0,0,0,0
11506,1900-01-01 00:41:59,<나야아>,퍼라,42,2,,0,0,0,0
11507,1900-01-01 00:41:59,<콜드베이지>,와,42,1,,0,0,0,0
11508,1900-01-01 00:41:59,<김_레고>,퍼라퍼라,42,4,,0,0,0,0
11509,1900-01-01 00:41:59,<lala22>,레디오???레디오,42,9,,0,3,0,0
11510,1900-01-01 00:41:59,<어린이집반장>,민하,42,2,,0,0,0,0
11511,1900-01-01 00:41:59,<라즈비2263>,테스형,42,3,,0,0,0,0
11512,1900-01-01 00:42:00,<초뉴비>,펄하펄하,43,4,,0,0,0,0
11513,1900-01-01 00:42:00,<ddoo_dda>,치마,43,2,,0,0,0,0
11514,1900-01-01 00:42:00,<83설남이병건>,나처럼,43,3,,0,0,0,0
11515,1900-01-01 00:42:01,<털통>,에이,43,2,,0,0,0,0
11516,1900-01-01 00:42:01,<어린이집반장>,민,43,1,,0,0,0,0
11517,1900-01-01 00:42:01,<clytie0811>,무냐구우,43,4,,0,0,0,0
11518,1900-01-01 00:42:01,<침착맨>,후원,43,2,,0,0,0,0
11519,1900-01-01 00:42:02,<꼬마돌꾼>,다,43,1,,0,0,0,0
11520,1900-01-01 00:42:02,<ths117>,오늘은이런노래가있엇습니다,43,13,,0,0,0,0
11521,1900-01-01 00:42:02,<레알_크크>,아,43,1,,0,0,0,0
11522,1900-01-01 00:42:03,<공강때뭐하지이>,쭈가,43,2,,0,0,0,0

In [18]:
df_temp.drop('com_initial', axis=1, inplace = True)
df_temp

,timeline,userId,comment,class,com_len,initial_len,com_special,com_has_init,com_k
0,1900-01-01 00:00:06,<앙앵잉>,오오오,1,3,0,0,0,0
1,1900-01-01 00:00:08,<yonumsiki>,??,1,2,0,2,0,0
2,1900-01-01 00:00:09,<앙앵잉>,왔다!!!!,1,6,0,4,0,0
3,1900-01-01 00:00:13,<NosPawn13>,침하,1,2,0,0,0,0
4,1900-01-01 00:00:15,<말년후배>,머냐구!!!,1,6,0,3,0,0
...,...,...,...,...,...,...,...,...,...
11518,1900-01-01 00:42:01,<침착맨>,후원,43,2,0,0,0,0
11519,1900-01-01 00:42:02,<꼬마돌꾼>,다,43,1,0,0,0,0
11520,1900-01-01 00:42:02,<ths117>,오늘은이런노래가있엇습니다,43,13,0,0,0,0
11521,1900-01-01 00:42:02,<레알_크크>,아,43,1,0,0,0,0
11522,1900-01-01 00:42:03,<공강때뭐하지이>,쭈가,43,2,0,0,0,0

In [19]:
df_temp.groupby('class',as_index=False)['com_len'].mean() #댓글 평균 길이

    class   com_len
0       1  3.344828
1       2  3.487805
2       3  4.496183
3       4  4.068273
4       5  3.678082
5       6  3.512195
6       7  3.637255
7       8  7.240506
8       9  4.090909
9      10  4.080586
10     11  5.267442
11     12  4.078014
12     13  4.712500
13     14  5.545455
14     15  3.593023
15     16  5.163793
16     17  4.764706
17     18  4.484496
18     19  3.921053
19     20  4.119048
20     21  3.631356
21     22  4.035714
22     23  3.325581
23     24  3.868421
24     25  4.493562
25     26  4.882521
26     27  3.852878
27     28  3.874251
28     29  4.152000
29     30  4.964215
30     31  4.009132
31     32  4.811966
32     33  5.400922
33     34  4.936803
34     35  3.810976
35     36  4.447917
36     37  3.531707
37     38  6.751938
38     39  6.388672
39     40  6.426471
40     41  5.660422
41     42  5.014493
42     43  3.181818

In [20]:
df_preprocessed = df_temp.groupby('class',as_index=False)['comment'].count()#윈도우 내댓글 총 개수
df_preprocessed.columns = ['class', 'com_cnt']
df_preprocessed

    class  com_cnt
0       1       29
1       2      164
2       3      524
3       4      249
4       5      146
5       6      164
6       7      204
7       8      158
8       9      121
9      10      273
10     11      172
11     12      141
12     13      160
13     14      165
14     15      172
15     16      232
16     17      136
17     18      258
18     19      114
19     20      168
20     21      236
21     22      168
22     23      172
23     24      266
24     25      233
25     26      349
26     27      469
27     28      334
28     29      250
29     30      503
30     31      219
31     32      351
32     33      434
33     34      269
34     35      328
35     36      288
36     37      410
37     38      516
38     39      512
39     40      476
40     41      427
41     42      552
42     43       11

In [21]:
df_preprocessed["class"] = df_preprocessed["class"].apply(lambda x: (datetime.datetime.strptime("00:00:00", '%H:%M:%S') + datetime.timedelta(minutes=x-1)).strftime('%H:%M:%S'))
df_preprocessed

       class  com_cnt
0   00:00:00       29
1   00:01:00      164
2   00:02:00      524
3   00:03:00      249
4   00:04:00      146
5   00:05:00      164
6   00:06:00      204
7   00:07:00      158
8   00:08:00      121
9   00:09:00      273
10  00:10:00      172
11  00:11:00      141
12  00:12:00      160
13  00:13:00      165
14  00:14:00      172
15  00:15:00      232
16  00:16:00      136
17  00:17:00      258
18  00:18:00      114
19  00:19:00      168
20  00:20:00      236
21  00:21:00      168
22  00:22:00      172
23  00:23:00      266
24  00:24:00      233
25  00:25:00      349
26  00:26:00      469
27  00:27:00      334
28  00:28:00      250
29  00:29:00      503
30  00:30:00      219
31  00:31:00      351
32  00:32:00      434
33  00:33:00      269
34  00:34:00      328
35  00:35:00      288
36  00:36:00      410
37  00:37:00      516
38  00:38:00      512
39  00:39:00      476
40  00:40:00      427
41  00:41:00      552
42  00:42:00       11

In [22]:
df_preprocessed['com_len'] = df_temp.groupby('class',as_index=False)['com_len'].mean()['com_len'] 
df_preprocessed

       class  com_cnt   com_len
0   00:00:00       29  3.344828
1   00:01:00      164  3.487805
2   00:02:00      524  4.496183
3   00:03:00      249  4.068273
4   00:04:00      146  3.678082
5   00:05:00      164  3.512195
6   00:06:00      204  3.637255
7   00:07:00      158  7.240506
8   00:08:00      121  4.090909
9   00:09:00      273  4.080586
10  00:10:00      172  5.267442
11  00:11:00      141  4.078014
12  00:12:00      160  4.712500
13  00:13:00      165  5.545455
14  00:14:00      172  3.593023
15  00:15:00      232  5.163793
16  00:16:00      136  4.764706
17  00:17:00      258  4.484496
18  00:18:00      114  3.921053
19  00:19:00      168  4.119048
20  00:20:00      236  3.631356
21  00:21:00      168  4.035714
22  00:22:00      172  3.325581
23  00:23:00      266  3.868421
24  00:24:00      233  4.493562
25  00:25:00      349  4.882521
26  00:26:00      469  3.852878
27  00:27:00      334  3.874251
28  00:28:00      250  4.152000
29  00:29:00      503  4.964215
30  00:30:00      219  4.009132
31  00:31:00      351  4.811966
32  00:32:00      434  5.400922
33  00:33:00      269  4.936803
34  00:34:00      328  3.810976
35  00:35:00      288  4.447917
36  00:36:00      410  3.531707
37  00:37:00      516  6.751938
38  00:38:00      512  6.388672
39  00:39:00      476  6.426471
40  00:40:00      427  5.660422
41  00:41:00      552  5.014493
42  00:42:00       11  3.181818

In [23]:
user_cnt_lst = []

for i in range(1, df_preprocessed.shape[0]+1):
    user_cnt_lst.append(len(df_temp[df_temp['class'] == i]['userId'].unique()))
    
df_preprocessed['user_cnt'] = user_cnt_lst

df_preprocessed

       class  com_cnt   com_len  user_cnt
0   00:00:00       29  3.344828        19
1   00:01:00      164  3.487805       128
2   00:02:00      524  4.496183       303
3   00:03:00      249  4.068273       156
4   00:04:00      146  3.678082       104
5   00:05:00      164  3.512195       117
6   00:06:00      204  3.637255       128
7   00:07:00      158  7.240506       112
8   00:08:00      121  4.090909        84
9   00:09:00      273  4.080586       171
10  00:10:00      172  5.267442       100
11  00:11:00      141  4.078014        90
12  00:12:00      160  4.712500       107
13  00:13:00      165  5.545455       100
14  00:14:00      172  3.593023       120
15  00:15:00      232  5.163793       140
16  00:16:00      136  4.764706       104
17  00:17:00      258  4.484496       143
18  00:18:00      114  3.921053        78
19  00:19:00      168  4.119048       108
20  00:20:00      236  3.631356       133
21  00:21:00      168  4.035714       105
22  00:22:00      172  3.325581       111
23  00:23:00      266  3.868421       180
24  00:24:00      233  4.493562       146
25  00:25:00      349  4.882521       185
26  00:26:00      469  3.852878       270
27  00:27:00      334  3.874251       215
28  00:28:00      250  4.152000       146
29  00:29:00      503  4.964215       250
30  00:30:00      219  4.009132       145
31  00:31:00      351  4.811966       159
32  00:32:00      434  5.400922       206
33  00:33:00      269  4.936803       166
34  00:34:00      328  3.810976       168
35  00:35:00      288  4.447917       174
36  00:36:00      410  3.531707       204
37  00:37:00      516  6.751938       253
38  00:38:00      512  6.388672       239
39  00:39:00      476  6.426471       220
40  00:40:00      427  5.660422       213
41  00:41:00      552  5.014493       278
42  00:42:00       11  3.181818        11

In [24]:
df_preprocessed['k_cnt'] = df_temp.groupby('class',as_index=False)['com_k'].sum()['com_k'] 
df_preprocessed

       class  com_cnt   com_len  user_cnt  k_cnt
0   00:00:00       29  3.344828        19      2
1   00:01:00      164  3.487805       128      6
2   00:02:00      524  4.496183       303     87
3   00:03:00      249  4.068273       156    111
4   00:04:00      146  3.678082       104     70
5   00:05:00      164  3.512195       117    110
6   00:06:00      204  3.637255       128    189
7   00:07:00      158  7.240506       112    825
8   00:08:00      121  4.090909        84     90
9   00:09:00      273  4.080586       171    374
10  00:10:00      172  5.267442       100    467
11  00:11:00      141  4.078014        90    149
12  00:12:00      160  4.712500       107    348
13  00:13:00      165  5.545455       100    480
14  00:14:00      172  3.593023       120     92
15  00:15:00      232  5.163793       140    494
16  00:16:00      136  4.764706       104    225
17  00:17:00      258  4.484496       143    440
18  00:18:00      114  3.921053        78     45
19  00:19:00      168  4.119048       108    173
20  00:20:00      236  3.631356       133    306
21  00:21:00      168  4.035714       105    179
22  00:22:00      172  3.325581       111     31
23  00:23:00      266  3.868421       180     96
24  00:24:00      233  4.493562       146    371
25  00:25:00      349  4.882521       185    830
26  00:26:00      469  3.852878       270    258
27  00:27:00      334  3.874251       215    191
28  00:28:00      250  4.152000       146    270
29  00:29:00      503  4.964215       250   1157
30  00:30:00      219  4.009132       145     29
31  00:31:00      351  4.811966       159    565
32  00:32:00      434  5.400922       206   1192
33  00:33:00      269  4.936803       166    470
34  00:34:00      328  3.810976       168     63
35  00:35:00      288  4.447917       174    137
36  00:36:00      410  3.531707       204    126
37  00:37:00      516  6.751938       253   1579
38  00:38:00      512  6.388672       239    787
39  00:39:00      476  6.426471       220    498
40  00:40:00      427  5.660422       213    441
41  00:41:00      552  5.014493       278    621
42  00:42:00       11  3.181818        11      0

In [25]:
df_preprocessed['init_cnt'] = df_temp.groupby('class',as_index=False)['initial_len'].sum()['initial_len'] 
df_preprocessed

       class  com_cnt   com_len  user_cnt  k_cnt  init_cnt
0   00:00:00       29  3.344828        19      2         4
1   00:01:00      164  3.487805       128      6        25
2   00:02:00      524  4.496183       303     87       221
3   00:03:00      249  4.068273       156    111       144
4   00:04:00      146  3.678082       104     70        77
5   00:05:00      164  3.512195       117    110       135
6   00:06:00      204  3.637255       128    189       311
7   00:07:00      158  7.240506       112    825       852
8   00:08:00      121  4.090909        84     90       112
9   00:09:00      273  4.080586       171    374       461
10  00:10:00      172  5.267442       100    467       495
11  00:11:00      141  4.078014        90    149       185
12  00:12:00      160  4.712500       107    348       368
13  00:13:00      165  5.545455       100    480       495
14  00:14:00      172  3.593023       120     92        98
15  00:15:00      232  5.163793       140    494       517
16  00:16:00      136  4.764706       104    225       235
17  00:17:00      258  4.484496       143    440       467
18  00:18:00      114  3.921053        78     45        51
19  00:19:00      168  4.119048       108    173       183
20  00:20:00      236  3.631356       133    306       326
21  00:21:00      168  4.035714       105    179       206
22  00:22:00      172  3.325581       111     31        60
23  00:23:00      266  3.868421       180     96       120
24  00:24:00      233  4.493562       146    371       394
25  00:25:00      349  4.882521       185    830       841
26  00:26:00      469  3.852878       270    258       337
27  00:27:00      334  3.874251       215    191       260
28  00:28:00      250  4.152000       146    270       292
29  00:29:00      503  4.964215       250   1157      1212
30  00:30:00      219  4.009132       145     29        71
31  00:31:00      351  4.811966       159    565       603
32  00:32:00      434  5.400922       206   1192      1245
33  00:33:00      269  4.936803       166    470       531
34  00:34:00      328  3.810976       168     63       150
35  00:35:00      288  4.447917       174    137       188
36  00:36:00      410  3.531707       204    126       317
37  00:37:00      516  6.751938       253   1579      1752
38  00:38:00      512  6.388672       239    787      1125
39  00:39:00      476  6.426471       220    498      1257
40  00:40:00      427  5.660422       213    441       732
41  00:41:00      552  5.014493       278    621       866
42  00:42:00       11  3.181818        11      0         0

In [26]:
df_preprocessed['special_cnt'] = df_temp.groupby('class',as_index=False)['com_special'].sum()['com_special'] 
df_preprocessed

       class  com_cnt   com_len  user_cnt  k_cnt  init_cnt  special_cnt
0   00:00:00       29  3.344828        19      2         4           34
1   00:01:00      164  3.487805       128      6        25          121
2   00:02:00      524  4.496183       303     87       221          445
3   00:03:00      249  4.068273       156    111       144           88
4   00:04:00      146  3.678082       104     70        77           28
5   00:05:00      164  3.512195       117    110       135           61
6   00:06:00      204  3.637255       128    189       311           29
7   00:07:00      158  7.240506       112    825       852           28
8   00:08:00      121  4.090909        84     90       112           15
9   00:09:00      273  4.080586       171    374       461           55
10  00:10:00      172  5.267442       100    467       495           16
11  00:11:00      141  4.078014        90    149       185           16
12  00:12:00      160  4.712500       107    348       368           30
13  00:13:00      165  5.545455       100    480       495           56
14  00:14:00      172  3.593023       120     92        98           51
15  00:15:00      232  5.163793       140    494       517           42
16  00:16:00      136  4.764706       104    225       235           11
17  00:17:00      258  4.484496       143    440       467           58
18  00:18:00      114  3.921053        78     45        51           25
19  00:19:00      168  4.119048       108    173       183           80
20  00:20:00      236  3.631356       133    306       326           62
21  00:21:00      168  4.035714       105    179       206           43
22  00:22:00      172  3.325581       111     31        60           23
23  00:23:00      266  3.868421       180     96       120          186
24  00:24:00      233  4.493562       146    371       394           83
25  00:25:00      349  4.882521       185    830       841          125
26  00:26:00      469  3.852878       270    258       337          291
27  00:27:00      334  3.874251       215    191       260           58
28  00:28:00      250  4.152000       146    270       292           67
29  00:29:00      503  4.964215       250   1157      1212          134
30  00:30:00      219  4.009132       145     29        71          103
31  00:31:00      351  4.811966       159    565       603          133
32  00:32:00      434  5.400922       206   1192      1245          203
33  00:33:00      269  4.936803       166    470       531           82
34  00:34:00      328  3.810976       168     63       150          184
35  00:35:00      288  4.447917       174    137       188          152
36  00:36:00      410  3.531707       204    126       317           80
37  00:37:00      516  6.751938       253   1579      1752          214
38  00:38:00      512  6.388672       239    787      1125          276
39  00:39:00      476  6.426471       220    498      1257          182
40  00:40:00      427  5.660422       213    441       732          201
41  00:41:00      552  5.014493       278    621       866          323
42  00:42:00       11  3.181818        11      0         0            0

In [27]:
df_preprocessed['init_chat_ratio'] = df_temp.groupby('class',as_index=False)['com_has_init'].sum()['com_has_init']
df_preprocessed['init_chat_ratio'] = df_preprocessed['init_chat_ratio'] / df_preprocessed['com_cnt']
df_preprocessed

,class,com_cnt,com_len,user_cnt,k_cnt,init_cnt,special_cnt,init_chat_ratio
0,00:00:00,29,3.344828,19,2,4,34,0.034483
1,00:01:00,164,3.487805,128,6,25,121,0.036585
2,00:02:00,524,4.496183,303,87,221,445,0.083969
3,00:03:00,249,4.068273,156,111,144,88,0.104418
4,00:04:00,146,3.678082,104,70,77,28,0.089041
5,00:05:00,164,3.512195,117,110,135,61,0.152439
6,00:06:00,204,3.637255,128,189,311,29,0.382353
7,00:07:00,158,7.240506,112,825,852,28,0.506329
8,00:08:00,121,4.090909,84,90,112,15,0.165289
9,00:09:00,273,4.080586,171,374,461,55,0.227106
10,00:10:00,172,5.267442,100,467,495,16,0.325581
11,00:11:00,141,4.078014,90,149,185,16,0.255319
12,00:12:00,160,4.712500,107,348,368,30,0.268750
13,00:13:00,165,5.545455,100,480,495,56,0.242424
14,00:14:00,172,3.593023,120,92,98,51,0.093023
15,00:15:00,232,5.163793,140,494,517,42,0.211207
16,00:16:00,136,4.764706,104,225,235,11,0.205882
17,00:17:00,258,4.484496,143,440,467,58,0.232558
18,00:18:00,114,3.921053,78,45,51,25,0.078947
19,00:19:00,168,4.119048,108,173,183,80,0.160714
20,00:20:00,236,3.631356,133,306,326,62,0.194915
21,00:21:00,168,4.035714,105,179,206,43,0.202381
22,00:22:00,172,3.325581,111,31,60,23,0.133721
23,00:23:00,266,3.868421,180,96,120,186,0.086466
24,00:24:00,233,4.493562,146,371,394,83,0.206009
25,00:25:00,349,4.882521,185,830,841,125,0.240688
26,00:26:00,469,3.852878,270,258,337,291,0.134328
27,00:27:00,334,3.874251,215,191,260,58,0.173653
28,00:28:00,250,4.152000,146,270,292,67,0.152000
29,00:29:00,503,4.964215,250,1157,1212,134,0.230616
30,00:30:00,219,4.009132,145,29,71,103,0.086758
31,00:31:00,351,4.811966,159,565,603,133,0.182336
32,00:32:00,434,5.400922,206,1192,1245,203,0.258065
33,00:33:00,269,4.936803,166,470,531,82,0.211896
34,00:34:00,328,3.810976,168,63,150,184,0.103659
35,00:35:00,288,4.447917,174,137,188,152,0.125000
36,00:36:00,410,3.531707,204,126,317,80,0.226829
37,00:37:00,516,6.751938,253,1579,1752,214,0.265504
38,00:38:00,512,6.388672,239,787,1125,276,0.265625
39,00:39:00,476,6.426471,220,498,1257,182,0.266807
40,00:40:00,427,5.660422,213,441,732,201,0.264637
41,00:41:00,552,5.014493,278,621,866,323,0.184783
42,00:42:00,11,3.181818,11,0,0,0,0.000000

전처리 종료

In [28]:
TIMESTAMP_FIELD = df_preprocessed["class"]
TIMESTAMP_FIELD

0     00:00:00
1     00:01:00
2     00:02:00
3     00:03:00
4     00:04:00
5     00:05:00
6     00:06:00
7     00:07:00
8     00:08:00
9     00:09:00
10    00:10:00
11    00:11:00
12    00:12:00
13    00:13:00
14    00:14:00
15    00:15:00
16    00:16:00
17    00:17:00
18    00:18:00
19    00:19:00
20    00:20:00
21    00:21:00
22    00:22:00
23    00:23:00
24    00:24:00
25    00:25:00
26    00:26:00
27    00:27:00
28    00:28:00
29    00:29:00
30    00:30:00
31    00:31:00
32    00:32:00
33    00:33:00
34    00:34:00
35    00:35:00
36    00:36:00
37    00:37:00
38    00:38:00
39    00:39:00
40    00:40:00
41    00:41:00
42    00:42:00
Name: class, dtype: object

In [29]:
df_preprocessed = df_preprocessed.drop('class',axis = 1)

In [30]:
df_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 0 to 42
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   com_cnt          43 non-null     int64
 1   com_len          43 non-null     float64
 2   user_cnt         43 non-null     int64
 3   k_cnt            43 non-null     int64
 4   init_cnt         43 non-null     int64
 5   special_cnt      43 non-null     int64
 6   init_chat_ratio  43 non-null     float64
dtypes: float64(2), int64(5)
memory usage: 2.7 KB

In [31]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style("darkgrid")
from sklearn.ensemble import IsolationForest

In [32]:
model=IsolationForest(n_estimators=100, max_samples='auto', n_jobs=-1,
                      max_features=7, contamination=0.01)
model.fit(df_preprocessed.to_numpy())

IsolationForest(contamination=0.01, max_features=7, n_jobs=-1)

In [33]:
score = model.decision_function(df_preprocessed.to_numpy())
df_result = df_preprocessed.copy()
df_result['scores']= score
df_result

,com_cnt,com_len,user_cnt,k_cnt,init_cnt,special_cnt,init_chat_ratio,scores
0,29,3.344828,19,2,4,34,0.034483,0.104227
1,164,3.487805,128,6,25,121,0.036585,0.165470
2,524,4.496183,303,87,221,445,0.083969,0.061049
3,249,4.068273,156,111,144,88,0.104418,0.246040
4,146,3.678082,104,70,77,28,0.089041,0.231732
5,164,3.512195,117,110,135,61,0.152439,0.238148
6,204,3.637255,128,189,311,29,0.382353,0.178058
7,158,7.240506,112,825,852,28,0.506329,-0.006234
8,121,4.090909,84,90,112,15,0.165289,0.219204
9,273,4.080586,171,374,461,55,0.227106,0.225367
10,172,5.267442,100,467,495,16,0.325581,0.176965
11,141,4.078014,90,149,185,16,0.255319,0.230671
12,160,4.712500,107,348,368,30,0.268750,0.222595
13,165,5.545455,100,480,495,56,0.242424,0.197797
14,172,3.593023,120,92,98,51,0.093023,0.246100
15,232,5.163793,140,494,517,42,0.211207,0.227819
16,136,4.764706,104,225,235,11,0.205882,0.214678
17,258,4.484496,143,440,467,58,0.232558,0.240169
18,114,3.921053,78,45,51,25,0.078947,0.204517
19,168,4.119048,108,173,183,80,0.160714,0.249448
20,236,3.631356,133,306,326,62,0.194915,0.238594
21,168,4.035714,105,179,206,43,0.202381,0.254248
22,172,3.325581,111,31,60,23,0.133721,0.220944
23,266,3.868421,180,96,120,186,0.086466,0.208964
24,233,4.493562,146,371,394,83,0.206009,0.247819
25,349,4.882521,185,830,841,125,0.240688,0.167203
26,469,3.852878,270,258,337,291,0.134328,0.123097
27,334,3.874251,215,191,260,58,0.173653,0.215440
28,250,4.152000,146,270,292,67,0.152000,0.248549
29,503,4.964215,250,1157,1212,134,0.230616,0.108225
30,219,4.009132,145,29,71,103,0.086758,0.224796
31,351,4.811966,159,565,603,133,0.182336,0.187152
32,434,5.400922,206,1192,1245,203,0.258065,0.091239
33,269,4.936803,166,470,531,82,0.211896,0.224285
34,328,3.810976,168,63,150,184,0.103659,0.201738
35,288,4.447917,174,137,188,152,0.125000,0.215649
36,410,3.531707,204,126,317,80,0.226829,0.186378
37,516,6.751938,253,1579,1752,214,0.265504,0.008609
38,512,6.388672,239,787,1125,276,0.265625,0.085168
39,476,6.426471,220,498,1257,182,0.266807,0.103850
40,427,5.660422,213,441,732,201,0.264637,0.157241
41,552,5.014493,278,621,866,323,0.184783,0.082099
42,11,3.181818,11,0,0,0,0.000000,0.035320

In [34]:
df_result['timeline'] = TIMESTAMP_FIELD

In [36]:
df_candidate = df_result.sort_values(by = ['scores'], axis = 0, ascending=True).head(10)
df_candidate

,com_cnt,com_len,user_cnt,k_cnt,init_cnt,special_cnt,init_chat_ratio,scores,timeline
7,158,7.240506,112,825,852,28,0.506329,-0.006234,00:07:00
37,516,6.751938,253,1579,1752,214,0.265504,0.008609,00:37:00
42,11,3.181818,11,0,0,0,0.000000,0.035320,00:42:00
2,524,4.496183,303,87,221,445,0.083969,0.061049,00:02:00
41,552,5.014493,278,621,866,323,0.184783,0.082099,00:41:00
38,512,6.388672,239,787,1125,276,0.265625,0.085168,00:38:00
32,434,5.400922,206,1192,1245,203,0.258065,0.091239,00:32:00
39,476,6.426471,220,498,1257,182,0.266807,0.103850,00:39:00
0,29,3.344828,19,2,4,34,0.034483,0.104227,00:00:00
29,503,4.964215,250,1157,1212,134,0.230616,0.108225,00:29:00

In [128]:
standard = df_result.quantile(q = 0.25,interpolation='nearest')
standard

com_cnt            164.000000
com_len              3.810976
user_cnt           107.000000
k_cnt               92.000000
init_cnt           135.000000
special_cnt         30.000000
init_chat_ratio      0.104418
scores               0.124704
Name: 0.25, dtype: float64

In [129]:
com_cnt_std = standard[0]
user_cnt_std = standard[2]
k_cnt_std = standard[3]

In [130]:
df_final = df_candidate[(df_candidate['com_cnt'] > com_cnt_std) & (df_candidate['k_cnt'] > k_cnt_std ) & (df_candidate['user_cnt'] > user_cnt_std )]
df_final

,com_cnt,com_len,user_cnt,k_cnt,init_cnt,special_cnt,init_chat_ratio,scores,timeline
37,516,6.751938,253,1579,1752,214,0.265504,0.018397,00:37:00
41,552,5.014493,278,621,866,323,0.184783,0.073353,00:41:00
38,512,6.388672,239,787,1125,276,0.265625,0.103601,00:38:00
29,503,4.964215,250,1157,1212,134,0.230616,0.112706,00:29:00
32,434,5.400922,206,1192,1245,203,0.258065,0.116186,00:32:00
39,476,6.426471,220,498,1257,182,0.266807,0.120245,00:39:00

In [131]:
final_timeline = df_final['timeline']
final_timeline

37    00:37:00
41    00:41:00
38    00:38:00
29    00:29:00
32    00:32:00
39    00:39:00
Name: timeline, dtype: object

하이라이트 추출 종료

In [ ]:
directory = "/content/drive/MyDrive/thumbnail_generator/키워드 추출/" #저장경로
video_nickname = "침착맨영상 "  #"박재범" 등 비디오 닉네임
csv_name = "chat"
total_file_name = directory + video_nickname + "_" + csv_name + "(total).csv"
df["comment"].to_csv(total_file_name,index=False)
for n in range(5):  #채팅로그 추출 원하는 하이라이트 개수 (final_timeline 순위순)
  file_name = directory + video_nickname + "_" + csv_name + "(" + str(n) +").csv"
  a = df_temp[df_temp["class"] == final_timeline.index[n]]
  b = df_temp[df_temp["class"] == final_timeline.index[n]+1]
  final = a.append(b)
  final.to_csv(file_name,index=False)